---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/*
  Theme overrides
 */

section {
	margin-bottom: 40px;
}

header.site-header {
	border-top: 0;
}

header > .wrapper {
	max-width: 100%;
	margin-left: 5%;
}

h1 {
	font-size: 3rem;
}

.box-shadow {
	box-shadow: 1px 2px 3px 1px #00000052
}

.button {
	border-radius: 6px;
	color: white;
	background-color: rgb(255, 91, 130);
	padding: 1.2rem;
	font-size: 1.8rem;
}

.button:hover, .button:visited {
	color: white;
	text-decoration: none;
	background-color: rgb(220, 70, 110);
}

.background-image {
	
	height: 62vw;
	background-position: 50% 0%;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    background-position: right;
    background-color: #CAEBFA;
    /*
    

    background: url(/assets/pexels-cottonbro-studio-5474286_free.png) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    */
}

.background-image-2 {
	background-size: cover;
	height: 600px;
}

@media screen and (min-width: 800px) {
}

section {
	position: relative;
}

.splash-container-center {
	position: absolute;
	top: 20vw;
	margin-left: 5%;
    max-width: 50%;
}

.splash-container-center > h1 {
	background-color: #caebfaba;
    padding: 10px;
    border-radius: 7px;
}

.splash-container-center > a {
	margin-left: 10px;
}

.splash-container-top {
	padding-top: 30px;
	text-align: center;
	color: white;
}

.splash-container-dark-bg {
	color: black;
}

.vps {
    margin-left: 10%;
    margin-right: 10%;
}

.vps h2 {
	font-size: 2.5rem;
	font-weight: bold;
}

.vps p {
	font-size: 1.7rem;
}

.vps a {
	font-size: 1.5rem;
}

.vps > div {
	margin-top: 100px;
	margin-left: 5%;
	display: flex;
	align-items: center;
}

.vps > div > * {
	flex: 50%;
	margin: 0 20px;
}

