---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/*
  Theme overrides
 */

header.site-header {
	border-top: 0;
}

header > .wrapper {
	max-width: 100%;
	margin-left: 5%;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 3rem;
	}
}

h2 {
	font-size: 1.2rem;
	font-weight: bold;
}
@media screen and (min-width: 800px) {
	h2 {
		font-size: 2.5rem;
	}
}

h3 {
	font-size: 1.1rem;
}
@media screen and (min-width: 800px) {
	h3 {
		font-size: 1.7rem;
	}
}



.box-shadow {
	box-shadow: 1px 2px 3px 1px #00000052
}

.btn {
	display: inline-block;

	&:hover {
		text-decoration: none;
		filter: brightness(0.90);
	}

	&:visited {
		text-decoration: none;
		filter: brightness(0.70);
	}
}

.btn-primary {
	border-radius: 6px;
	color: white !important;
	background-color: rgb(255, 91, 130);
	padding: 0.7rem;
	font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
	.btn-primary {
		padding: 1.2rem;
		font-size: 1.8rem;
	}
}

.btn-secondary {
	border-radius: 6px;
	color: #494949 !important;
  border: #494949 1px solid;
	padding: 0.7rem;
	font-size: 1.1rem;
	background-color: white;
}


@media screen and (min-width: 800px) {
	.btn-secondary {
		padding: 1.2rem;
		font-size: 1.5rem;
	}
}
.center {
	padding-top: 30px;
	text-align: center;	
}

@media screen and (min-width: 800px) {
	.flex-center {
		display: flex;
		align-items: center;
	}
	.columns-2 {
		/* margin-top: 100px; */
		margin-left: 5%;
		padding: 0 20px;

		& > * {
			flex: 50%;
		}

		.image-container {
			margin-top: 0;
		}

		.text-container {
			margin-top: 0;
			text-align: left;
		}
	}

	.columns-2:nth-child(even) {
		& > * {
			display: flex;
		}
		.text-container {
			margin-left: 20px;
			order: 2;
			flex-wrap: wrap;
		}
		.image-container {
			order: 1;
		}

		.single-centered-column {
			flex-direction: column;
			align-items: center;
		}
	}

	.columns-3 {
		margin-left: 5%;
		padding: 0 20px;

		& > * {
			flex: 33%;
		}
	}
}


/*
************ Footer
*/
.legal-pages {
	margin-bottom: 10px;
	display: flex;

	.page-link {
		margin-right: 20px;
		color: #646464;
		&:visited {
			color: #646464
		}
	}
}


/*
************ Landing page
*/

#above-the-fold {
	min-height: calc(100vh - 55.95px);
	display: flex;
	h2 {
		font-weight: normal;
		line-height: 115%;
	}
}

#solution {
  margin-bottom: 200px;
  background: linear-gradient(180deg, #CAEBFA 0%, #FFFFFF 48.44%, #E7ECF1 100%, #E7ECF1 100%)
}

#solution {
	.image-container {
		margin-top: 30px;
	}

	.text-container {
		margin-top: 50px;

		a.btn-secondary {
			margin-top: 10px;
		}
	}
}
